In [175]:
# complete data devide
# 100 students =--> 70 students (in class) , 30 students(out class)
# 70 students (train) ->> trained --> 30 students(test)
# df-->> x(input data )+ y(target data)
# x--->> x_train + x_test
# y -->> y_train + y_test
# machine (x_train , y_train)
# machine(x_test)-->> output  ??? --> prediction_data  (y_pred)

# actual output(y_test)

import pandas as pd 
import numpy as np

In [176]:
df=pd.read_csv("C:\\Users\\ace\\Downloads\\placement.csv")
df.head(5)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [177]:
x=df.drop(columns=['placed'])
x.shape

(100, 2)

In [178]:
y=df['placed']
y.shape

(100,)

In [179]:
from sklearn.model_selection import train_test_split

In [180]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size =0.2 ,
                                                      random_state =42)

In [181]:
print("total df:",df.shape)
print("----------------------")
print("input data shape(x):",x.shape)
print("x_train data shape(x):",x_train.shape)
print("x_test data shape(x):",x_test.shape)
print("---------------------")
print("target data shape(x):",y.shape)
print("y_train data shape(x):",y_train.shape)
print("y_test data shape(x):",y_test.shape)

total df: (100, 3)
----------------------
input data shape(x): (100, 2)
x_train data shape(x): (80, 2)
x_test data shape(x): (20, 2)
---------------------
target data shape(x): (100,)
y_train data shape(x): (80,)
y_test data shape(x): (20,)

In [182]:
import pandas as pd
import numpy as np

In [183]:
df=pd.read_csv("C:\\Users\\ace\\Downloads\\titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [184]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [185]:
df.dropna()
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [186]:
x=df.drop(columns=['Survived'])
x.shape

(418, 11)

In [187]:
y=df['Survived']
y.shape

(418,)

In [188]:
from sklearn.model_selection import train_test_split

In [189]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size =0.2 ,
                                                      random_state =42)

In [190]:
print("total df:",df.shape)
print("----------------------")
print("input data shape(x):",x.shape)
print("x_train data shape(x):",x_train.shape)
print("x_test data shape(x):",x_test.shape)
print("---------------------")
print("target data shape(x):",y.shape)
print("y_train data shape(x):",y_train.shape)
print("y_test data shape(x):",y_test.shape)

total df: (418, 12)
----------------------
input data shape(x): (418, 11)
x_train data shape(x): (334, 11)
x_test data shape(x): (84, 11)
---------------------
target data shape(x): (418,)
y_train data shape(x): (334,)
y_test data shape(x): (84,)

In [191]:
df=pd.read_csv("C:\\Users\\ace\\Downloads\\Attrition.csv")
df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [192]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [193]:
df.dropna()
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [199]:
x=df.drop(columns=['Attrition'])
x.shape

(1470, 34)

In [195]:
## github per ek projct ka ek super user hoga baaaki log ko admin access dega

In [201]:
from sklearn.model_selection import train_test_split

In [197]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size =0.2,
                                                      random_state =42)

ValueError: Found input variables with inconsistent numbers of samples: [1470, 418]

In [203]:
print("total df:",df.shape)
print("----------------------")
print("input data shape(x):",x.shape)
print("x_train data shape(x):",x_train.shape)
print("x_test data shape(x):",x_test.shape)
print("---------------------")
print("target data shape(x):",y.shape)
print("y_train data shape(x):",y_train.shape)
print("y_test data shape(x):",y_test.shape)

total df: (1470, 35)
----------------------
input data shape(x): (1470, 34)
x_train data shape(x): (334, 11)
x_test data shape(x): (84, 11)
---------------------
target data shape(x): (418,)
y_train data shape(x): (334,)
y_test data shape(x): (84,)

In [205]:
import numpy as np 
import pandas as pd

In [207]:
df=pd.read_csv("C:\\Users\\ace\\Downloads\\covid_toy.csv")
df.head(5)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [209]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [211]:
from sklearn.impute import SimpleImputer

In [213]:
si = SimpleImputer(strategy='mean')

In [215]:
df['fever']=si.fit_transform(df[['fever']])

In [217]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [219]:
df.shape

(100, 6)

In [221]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [223]:
df2=df.copy()

In [225]:
df2.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [227]:
df2['gender']=df2['gender'].map({'Male':1 , 'Female':0})

In [229]:
df2.sample(3)

    age  gender  fever   cough       city has_covid
4    65       0  101.0    Mild     Mumbai        No
18   64       0   98.0    Mild  Bangalore       Yes
32   34       0  101.0  Strong      Delhi       Yes

In [231]:
df2['cough']=df2['cough'].map({'mild':0 , 'Strong':1})
df2['city'] = df2['city'].map({'kolkata':0 , 'Banglore':1 , 'Delhi':2 , 'Mumbai':3})
df2['has_covid']=df2['has_covid'].map({'yes':1 , 'No':0})

In [233]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [235]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [237]:
x= df2.drop(columns=['has_covid'])   # input data
y=df2['has_covid']   # target data

In [239]:
from sklearn.model_selection import train_test_split

In [241]:
x_train , x_test , y_train ,y_test = train_test_split(x,y,test_size =0.2 , random_state=42)

In [243]:
np.round(x_train.describe() ,1 )

        age  gender  fever  cough  city
count  80.0    80.0   80.0   32.0  30.0
mean   42.9     0.4  101.0    1.0   2.5
std    24.5     0.5    1.9    0.0   0.5
min     5.0     0.0   98.0    1.0   2.0
25%    20.0     0.0  100.0    1.0   2.0
50%    42.0     0.0  101.0    1.0   2.0
75%    65.0     1.0  102.0    1.0   3.0
max    84.0     1.0  104.0    1.0   3.0

In [245]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [247]:
df.describe()

              age       fever
count  100.000000  100.000000
mean    44.220000  100.844444
std     24.878931    1.948380
min      5.000000   98.000000
25%     20.000000   99.000000
50%     45.000000  100.922222
75%     66.500000  102.000000
max     84.000000  104.000000

In [249]:
df2

    age  gender  fever  cough  city  has_covid
0    60       1  103.0    NaN   NaN        0.0
1    27       1  100.0    NaN   2.0        NaN
2    42       1  101.0    NaN   2.0        0.0
3    31       0   98.0    NaN   NaN        0.0
4    65       0  101.0    NaN   3.0        0.0
..  ...     ...    ...    ...   ...        ...
95   12       0  104.0    NaN   NaN        0.0
96   51       0  101.0    1.0   NaN        NaN
97   20       0  101.0    NaN   NaN        0.0
98    5       0   98.0    1.0   3.0        0.0
99   10       0   98.0    1.0   NaN        NaN

[100 rows x 6 columns]

In [253]:
 np.round(x_train.describe() ,1)

        age  gender  fever  cough  city
count  80.0    80.0   80.0   32.0  30.0
mean   42.9     0.4  101.0    1.0   2.5
std    24.5     0.5    1.9    0.0   0.5
min     5.0     0.0   98.0    1.0   2.0
25%    20.0     0.0  100.0    1.0   2.0
50%    42.0     0.0  101.0    1.0   2.0
75%    65.0     1.0  102.0    1.0   3.0
max    84.0     1.0  104.0    1.0   3.0

In [255]:
from sklearn.preprocessing import MinMaxScaler

In [257]:
x_train_mn = mn.fit_transform(x_train)

NameError: name 'mn' is not defined

In [259]:
x_train_new = pd.Dataframe(x_train_mn , columns = x_train.columns)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [261]:
np.round(x_train_new.describe() ,2)

NameError: name 'x_train_new' is not defined

In [274]:
import pandas as pd
import numpy as np




df=pd.read_csv("C:\\Users\\ace\\Downloads\\tips.csv")
df.head(4)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2

In [276]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [278]:
df['sex']=df['sex'].map({'Female':0 , 'Male':1})

In [286]:
df['smoker']=  df['smoker'].map({'No':0 , 'Yes':1})

In [284]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [288]:
df['day']=df['day'].map({'sat':0 , 'sun':1 ,'thru': 2, 'fri':3 })

In [290]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [307]:
x = df.drop(columns=['total_bill'])
y =df['total_bill']

In [335]:
x_train , x_test ,y_train, y_test = train_test_split(x,y,test_size = 0.2 ,random_state = 42)

In [345]:
from sklearn.preprocessing import StandardScaler

In [355]:
sc = StandardScaler()

In [367]:

x_train_sc = sc.fit_transform(x_train)

ValueError: could not convert string to float: 'Dinner'

In [369]:
x_train_new = pd.DataFrame (x_train_sc , columns = x_train.columns)

NameError: name 'x_train_sc' is not defined

In [377]:
np.round(x_train_new.describe() , 2)

NameError: name 'x_train_new' is not defined